<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto y Medios de Pago - Calista Pet Shop</title>
    <link rel="shortcut icon" href="./FOTOS/LOGO CALISTA.png"
    />
    <link rel="stylesheet" href="./CSS/Estilos - Contactos Medios de pago.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap"
      rel="stylesheet";
    />
    <link href="https://fonts.googleapis.com/css2?family=Calligraffitti&family=Caveat&family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@300&family=Noto+Sans+JP&family=Qahiri&display=swap" rel="stylesheet">
    <script
      src="https://kit.fontawesome.com/7eeff42b55.js"
      crossorigin="anonymous"
    ></script>
</head>
<body>
<header>
      <button id="botonmenu"><img
        src="./FOTOS/Menu.png" class="menuhamburguesa"class="menuhamburguesa" height="100%"/>
      </button>
</header>
<nav id="menu">
    <ul class="menu">
      <li class="botones"><a href="/">Inicio</a></li>
      <li class="botones"><a href="/nodesarrollada">Prendas</a></li>
      <li class="botones"><a href="/nodesarrollada">Accesorios Comidas</a></li>
      <li class="botones"><a href="/nodesarrollada">Juguetes</a></li>
      <li class="botones"><a href="/contacto">Contacto / Medios de Pago</a></li>
      <li class="botones"><a href="/login">Registrarse - Login </a></li>
    </ul>
</nav>
<a href="https://api.whatsapp.com/send/?phone=59891920170&text=Hola!,quisiera+consultar+por+el+siguiente+producto:" target="_blank"> 
      <img src="./FOTOS/Icono whatsapp.png"
        class="claseiconowa"
        alt="icono whatsapp" />
    </a>
<main class="grid">
<h1>Contacto y medios de pago</h1>
<div class="contacto"><a href="https://goo.gl/maps/CbE8wEWjLyHoXbTs6"><img src="./FOTOS/Logos/pickup.png" class="logos2" alt="logo pickup"></a> Pickup Prado</div>
<div class="medios">Medios de Pago Aceptados:</div>
<div class="contacto" id="Domicilio"><img src="./FOTOS/Logos/logo camion2.png" class="logos2" alt="logo camion">A Domicilio</div>
<div class="logos"><img src="./FOTOS/Logos/mercado-pago.jpg" class="logos1" alt="logo mercado pago"></div>
<div class="contacto"><a href="https://www.instagram.com/calista.petshop/"><img src="./FOTOS/Logos/instagram2.png" class="logos2" alt="logo instagram"></a><p class="pcontacto">calista.petshop</p></div>
<div class="logos"><img src="./FOTOS/Logos/Abitab.png" class="logos1" alt="Abitab"></div>
<div class="contacto"><a href="https://www.facebook.com/Calista-PetShop-104008015147289"><img src="./FOTOS/Logos/facebook.png" class="logos2" alt="logo facebook"></a> <p class="pcontacto">Calista PetShop</p></div>
<div class="logos"><img src="./FOTOS/Logos/BROU.jfif" class="logos1"alt="BROU"></div>
<div class="contacto"><a href="https://api.whatsapp.com/send/?phone=59891920170&text=Hola!,quisiera+consultar+por+el+siguiente+producto:" target="_blank"><img src="./FOTOS/Icono whatsapp.png" class="logos2" alt="logo whatsapp"></a><p class="pcontacto"> 091920170</p></div>
<div class="logos"><img src="./FOTOS/Logos/santnader.png" class="logos1"  alt="SANTANDER"></div>
</main>
    <div class="div7">
      <img
        src="./FOTOS/pasto footer.png"
        class="pastito"
        alt="pasto"
      />
    </div>
<footer>
            <p id="desarrollador">Copyright© Desarrollo por Juanma Vazquez</p>
            <img
        src="./FOTOS/LOGOJM.png" class="logoJM"
        alt="logo JM"
        height=25px
      />

      <ul>
        <li><a href="https://www.instagram.com/calista.petshop/"><i class="fab fa-2x fa-instagram-square"></i></a></li>
        <li><a href="https://www.facebook.com/Calista-PetShop-104008015147289"><i class="fab fa-2x fa-facebook-square" ></i></a></li>
        </ul>
</footer>
  <script src="Menu Hamburguesa.js"></script>
  <script src="./JS/inicio.js"></script>
</body>
</html>