<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chalequitos - Calista Pet Shop</title>
    <link rel="stylesheet" href="./CSS/Estilos - Item Chaleco.css">
    <link rel="shortcut icon" href="./FOTOS/LOGO CALISTA.png"
      />
    <link
      href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Calligraffitti&family=Caveat&family=Courgette&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@300&family=Noto+Sans+JP&family=Qahiri&display=swap" rel="stylesheet"/>
    <script
      src="https://kit.fontawesome.com/7eeff42b55.js"
      crossorigin="anonymous"
    ></script>
</head>
<body>
<header>
      <button id="botonmenu"><img
        src="./FOTOS/Menu.png" class="menuhamburguesa"class="menuhamburguesa" height="100%"/>
      </button>
</header>
      <nav id="menu">
    <ul class="menu">
      <li class="botones"><a href="/">Inicio</a></li>
      <li class="botones"><a href="/nodesarrollada">Prendas</a></li>
      <li class="botones"><a href="/nodesarrollada">Accesorios Comidas</a></li>
      <li class="botones"><a href="/nodesarrollada">Juguetes</a></li>
      <li class="botones"><a href="/contacto">Contacto / Medios de Pago</a></li>
      <li class="botones"><a href="/login">Registrarse - Login </a></li>
    </ul>
    </ul>
  </nav>
    <a
      href="https://api.whatsapp.com/send/?phone=59891920170&text=Hola!,quisiera+consultar+por+el+siguiente+producto:"
      target="_blank">
      <img src="./FOTOS/Icono whatsapp.png"
        class="claseiconowa"
        alt="icono whatsapp" /> </a>

<main class="grid">
    <h1 class="Titulo">Chalequitos</h1>
    <div class="foto"><img src="./FOTOS/Productos/Chaleco 1.png" class="fotoprincipal" alt="Chaleco1"></div>
    <div class="foto1"><img src="./FOTOS/Productos/Chaleco 2.png" class="fotoschiquitas" alt="Chaleco2"></div>
    <div class="foto2"><img src="./FOTOS/Productos/Chaleco 3.png" class="fotoschiquitas" alt="Chaleco3"></div>
    <div class="foto3"><img src="./FOTOS/Productos/Chaleco 1.png" class="fotoschiquitas" alt="Chaleco1"></div>
    <div class="calculadora"><img src="./FOTOS/Productos/Tabla de talles.PNG"  class="fotoscalculadora" alt="Calculadora"></div>
    <div class="info1"> Talle
    <select name="talle" id="talle">
      <option value="" disabled selected>Seleccionar Talle</option>
      <option value="talles">S</option>
      <option value="tallel">L</option>
      <option value="tallexl">XL</option>
      <option value="talle2xl">2XL</option>
      </select></div>
    <div class="info2">$ 500</div>
    <div class="boton"><button id="boton-comprar">COMPRAR</button></div>
    <div class="pasto"></div>

</main>
    <div class="div7">
      <img
        src="./FOTOS/pasto footer.png"
        class="pastito"
        alt="pasto"
      /></div>
<footer>
      <p id="desarrollador">Copyright© Desarrollo por Juanma Vazquez</p>
      <img    src="./FOTOS/LOGOJM.png" class="logoJM"
        alt="logo JM"
        height=25px/>

      <ul>
        <li><a href="https://www.instagram.com/calista.petshop/"><i class="fab fa-2x fa-instagram-square"></i></a></li>
        <li><a href="https://www.facebook.com/Calista-PetShop-104008015147289"><i class="fab fa-2x fa-facebook-square" ></i></a></li>
        </ul>
  <script src="Menu Hamburguesa.js"></script>
  <script src="./JS/inicio.js"></script>
</footer>
</body>
</html>